@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

html {
  scroll-behavior: smooth;
}

:root {
  --black-bg: rgba(0, 0, 0, 1);
  --body-base-font-family: "Inter", Helvetica;
  --body-base-font-size: 16px;
  --body-base-font-style: normal;
  --body-base-font-weight: 400;
  --body-base-letter-spacing: 0px;
  --body-base-line-height: 139.9999976158142%;
  --body-strong-font-family: "Inter", Helvetica;
  --body-strong-font-size: 16px;
  --body-strong-font-style: normal;
  --body-strong-font-weight: 600;
  --body-strong-letter-spacing: 0px;
  --body-strong-line-height: 139.9999976158142%;
  --golden-hour-yellow: rgba(248, 157, 29, 1);
  --rounding-radius: 14px;
  /* Heading 1 */
  --heading-1-font-family: "PP Formula Regular", Helvetica;
  --heading-1-font-size: 5rem;
  --heading-1-line-height: calc(var(--heading-1-font-size) * 1);
  --heading-1-letter-spacing: 0px;

  --heading-1-font-size-md: 4rem;
  --heading-1-line-height-md: calc(var(--heading-1-font-size-md) * 1);
  --heading-1-letter-spacing-md: 0px;

  --heading-1-font-size-sm: 3rem;
  --heading-1-line-height-sm: calc(var(--heading-1-font-size-sm) * 1);
  --heading-1-letter-spacing-sm: 0px;

  --heading-1-halyard-font-family: "Halyard", Helvetica;
  --heading-1-halyard-font-size: 13vw;
  --heading-1-halyard-letter-spacing: -2%;
  --heading-1-halyard-line-height: calc(var(--heading-1-halyard-font-size) * 1);

  /* Heading 3 */
  --heading-3-font-family: "PP Formula Regular", Helvetica;
  --heading-3-font-size: 1.6rem;
  --heading-3-line-height: calc(var(--heading-3-font-size) * 1);
  --heading-3-letter-spacing: -0.1rem;

  --heading-3-font-size-md: 1.4rem;
  --heading-3-line-height-md: calc(var(--heading-3-font-size-md) * 1);
  --heading-3-letter-spacing-md: -0.1rem;

  --heading-3-font-size-sm: 1.2rem;
  --heading-3-line-height-sm: calc(var(--heading-3-font-size-sm) * 1);
  --heading-3-letter-spacing-sm: -0.1rem;

  /* Paragraph */
  --paragraph-font-family: "PP Mori", Helvetica;
  --paragraph-font-size: 1rem;
  --paragraph-line-height: calc(var(--paragraph-font-size) * 1);
  --paragraph-letter-spacing: 0rem;

  --paragraph-font-size-md: 1rem;
  --paragraph-line-height-md: calc(var(--paragraph-font-size-md) * 1);
  --paragraph-letter-spacing-md: 0rem;

  --paragraph-font-size-sm: 0.8rem;
  --paragraph-line-height-sm: calc(var(--paragraph-font-size-sm) * 1);
  --paragraph-letter-spacing-sm: 0rem;

  --heritage-green: rgba(34, 62, 47, 1);
  --highlight-colour: rgba(190, 159, 45, 1);
  --highlight-font-family: "PP Formula Regular", Helvetica;
  --highlight-font-size: 72px;
  --highlight-font-style: normal;
  --highlight-font-weight: 400;
  --highlight-letter-spacing: 0px;
  --highlight-line-height: 72px;
  --midnight-blue: rgba(41, 49, 68, 1);
  --noche-black: rgb(0, 0, 0);
  --off-blanco: rgba(254, 248, 231, 1);
  --secondary-colour: rgba(19, 102, 164, 1);
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: transparent;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: transparent;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@font-face {
  font-family: "Halyard";
  src: url("/fonts/Halyard Display Book.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PP Formula Regular";
  src:
    url("/fonts/PPFormula-Regular.woff") format("woff2"),
    url("/fonts/PPFormula-Regular.woff2") format("woff"); /* Fallback */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PP Mori";
  src:
    url("/fonts/PPMori-Regular.woff") format("woff2"),
    url("/fonts/PPMori-Regular.woff2") format("woff"); /* Fallback */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Grafier Black";
  src:
    url("/fonts/PPGrafier-Black.woff") format("woff2"),
    url("/fonts/PPGrafier-Black.woff2") format("woff"); /* Fallback */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Grafier Regular";
  src:
    url("/fonts/PPGrafier-Regular.woff") format("woff2"),
    url("/fonts/PPGrafier-Regular.woff2") format("woff"); /* Fallback */
  font-weight: normal;
  font-style: normal;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    color: var(--off-blanco);
    background: var(--noche-black);
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }
}

.column {
  display: flex;
  flex-direction: column;
}

/* Reverse scrolling columns */
.column-reverse {
  transform: translateY(calc(-100% + 100vh)); /* Shift column up */
  animation: adjust-position linear forwards;
  animation-timeline: scroll(root block); /* Attach animation to scroll */
  flex-direction: column-reverse; /* Reverse item order */
}

/* Animation for reverse scrolling */
@keyframes adjust-position {
  from {
    transform: translateY(calc(-100% + 100vh)); /* Start position */
  }
  to {
    transform: translateY(calc(100% - 100vh)); /* End position */
  }
}

/* Column items */
.column__item {
  flex-shrink: 0;
  margin-bottom: 1rem; /* Add spacing between items */
}
